@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lato);
  --color-darkblue: #2c3e46;
  --color-softbrown: #998360;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato);
}

@layer utilities {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

address {
  font-style: normal !important;
}

.my-masonry-grid {
  display: flex;
  margin-left: -15px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 15px; /* gap */
}

.my-masonry-grid_column > * {
  margin-bottom: 15px;
}
